@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  /* font-family: "Mona Sans", sans-serif; */
}

@theme {
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
}

@layer components {
}

/* .slide {
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
} */

.headerAnimation {
  animation: wordSlider 8s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99) 2s;
}
@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
}

.flipCard {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.backFace {
  backface-visibility: hidden;
}

.backFace {
  transform: rotateX(180deg);
}

.flipCardContainer:hover .flipCard {
  transform: rotateX(180deg);
}

.h1Animation {
  animation: h1drop 1s ease-out 0s 1 normal;
}

@keyframes h1drop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
