@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  /* font-family: "Mona Sans", sans-serif; */
}

@theme {
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --animate-drop: drop 1s ease-out 0s 1 normal;
  --animate-raise: raise 1s ease-out 0s 1 normal;
  --animate-fade-in: fadeIn 2s ease-out 0s 1 normal;
}

@layer components {
}

/* .slide {
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
} */

.headerAnimation {
  animation: wordSlider 8s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99) 2s;
}
@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
}
/* FLIP CARD */
.flipCard {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.frontFace,
.backFace {
  backface-visibility: hidden;
}

.backFace.x {
  transform: rotateX(180deg);
}
.backFace.y {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateX(180deg);
}

@media (hover: hover) and (pointer: fine) {
  .flipCardContainer:hover .flipCard.x {
    transform: rotateX(180deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  .flipCardContainer:hover .flipCard.y {
    transform: rotateY(180deg);
  }
}

/* FLIP CARD */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 11.25rem;
  min-width: 0;
  margin: 0 30px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes raise {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1280) {
}

@media (min-width: 1536px) {
  body {
    width: 80dvw;
    margin: auto;
  }
  .embla__slide {
    flex: 0 0 200px;
    margin: 0 40px;
  }
}
